.background2 {
  background-image: url('scary_forest.jpg');
  background-repeat: no-repeat;
  background-size: 100% 350%;
  background-position: center;
  height: 60%;
}
.background1 {
  background-image: url('forest_background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 350%;
  background-position: center;
  height: 60%;
}

body {  
  text-align: center;
}

h1 {
  color: black;
  text-align: center;
  font-size: 40px;
}

p {
  font-family: verdana;
  font-size: 20px;
  text-shadow: rgb(5, 13, 3) 0.2em 0.2em 0.3em;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  animation: fadeIn 5s ease-in-out;
} 

.boxed-text {
  border: 2px solid black;  /* adds the box */
  padding: 8px;             
  display: inline-block;    
  background-color: white;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.spin {
  animation: spin 3s linear infinite;
}

@keyframes colorChange {
  50% { color: rgb(255, 199, 15); }
  100% { color: rgb(9, 132, 7); }
}

.color-change {
  animation: colorChange 4s infinite;
}

.img {
  border-radius: 50%;
  border: 4px solid black;
}

.boxed-text:hover {
  background-color: rgb(104, 168, 159);
  transform: scale(1.05); /* makes it pop a bit when hovered */
  transition: 0.3s;       /* smooth animation */
}